* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content-general {
    overflow: auto !important;
    height: 100vh !important;
}

.link {
    text-decoration: none !important;
    color: inherit !important;
}

.list {
    list-style: none;
}


.aside {
    height: 100vh;
    background: #000000;
    & .sideBar {
        & a {
            color: white !important;  
        }

        & a:hover {
            color: white !important;
            background: #e61b91;
        }
    }
}

.active {
    background-color: #e61b91 !important;
}

.alert {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    color: #fff;
    padding: 2px;
}

.overflow-auto {
    overflow: auto !important;
}
.overflow-hidden {
    overflow: hidden !important;
}

.btn-hovers:first-child {
color: #e61b91;
}

.btn-hovers:last-child {
color: #15eebb;
}

.btn-hovers:hover {
    transition:  all .4s;
    cursor: pointer;
    color: #000000;
    transform: scale(1.2);
}


.btn-options:hover {
    transition:  all .4s !important;
    cursor: pointer;
    transform: scale(1.2);
}